<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xenonapps.tejas.konnekt4">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Home Page -->
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Game Page -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".WelcomeActivity">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.xenonapps.tejas.konnekt4.WelcomeActivity"/>
        </activity>

        <!-- Options Menu -->
        <activity
            android:name=".OptionsActivity"
            android:label="@string/options"
            android:parentActivityName=".WelcomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xenonapps.tejas.konnekt4.WelcomeActivity" />
        </activity>
    </application>

</manifest>
